.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
}

.container .girl {
    height: 30vh;
    margin-bottom: 5vh;
}

.container p {
    margin-bottom: 5vh;
}